* {
    font-family:'Exo 2', sans-serif;
}
/* Navbar */

nav a {
    text-decoration: none;
    color: #f6ead4;
    font-size: 1.2rem;

}
nav a:hover{
    color: rgb(253, 253, 253);
}
    
/* Attributes */

a {
    color: #f6ead4;
    font-size: 1.1rem;
}

a:hover{
    color: rgb(255, 255, 255);
}

a:visited{
    color: #9EC8B9;
}

/* Body */
html {
    border: solid aliceblue 1px;
    padding: 15px;
    margin: 15px;
    
}

body {
    background-color: #161A30;
    
    
}

h1 {
   color: aliceblue;
   font-weight: 500;
   
}
h2 {
    color: aliceblue;
    font-weight: 500;
}
p {
    color: aliceblue;
}
ul {
    color: aliceblue;
}
table {
    color: aliceblue;
}
h3 {
    color: aliceblue;
}
form {
    color: aliceblue;
    
    
}
button {
    background-color: #f6ead4;
}
textarea {
    border: solid 0.2rem;
    border-color: #f6ead4;
}
input {
    border: solid 0.1rem;
    border-color: #f6ead4;
    background-color: #161A30;
    color: aliceblue;
}
img {
    
    border: solid #f6ead4;
    border-radius: 25%;
}

